.modal{
    display: none; /* Oculta el modal por defecto */
    position: fixed; /* Posición fija para que se mantenga en la pantalla */
    inset: 0; /* Posiciona el modal en la esquina superior izquierda */
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.contenido-modal{
    background-color: white; /* Fondo blanco para el contenido del modal */
    padding: 30px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Centra el contenido del modal */
}

.contenido-modal img{
    width: 100px; /* Ancho fijo para la imagen */
    margin: 10px; /* Espaciado alrededor de la imagen */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}